/* ------ social feed ------- */
.social-wall-feed .col-md-4{
    padding:0 10px;
}

.social-wall-feed{
    margin-top:15px;
}

.social-wall-feed .row{
    margin:0 -10px;
}

@media (max-width: 767px) {
    .social-wall-feed::before {
        content: '1 .col-xs-12';
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .social-wall-feed::before {
        content: '2 .col-sm-6';
    }
}

@media (min-width: 992px) {
    .social-wall-feed::before {
        content: '3 .col-md-4';
    }
}

/* ----- card ------ */
.social-wall-card {
    border: 1px solid #e5e5e5;
    border-radius:10px;
    margin-bottom: 30px;
    position:relative;
}

.social-wall-card__header{
    border-bottom:1px solid #e5e5e5;
    margin:0 20px 20px;
    padding: 20px 0;
}

.social-wall-card img{
    max-width:100%;
}

.social-wall-card p{
    margin:0;
}

.social-wall-card__account > div{
    display:inline-block;
    vertical-align:middle;
}

.social-wall-card__account > div:last-child{
    width:calc(100% - 70px);
    padding-left:10px;
}

.social-wall-card__account img{
    border-radius:50%;
}

.social-wall-card__msg{
    font-size:18px;
    font-size: 1.8rem;
    margin:10px 0 0;
    padding:0 20px;
    border-left:none;
}

.social-wall-card__illu{
    margin-top:20px;
}

.social-wall-card__footer{
    font-size:12px;
    font-size:1.2rem;
    background-color:#f8f7f7;
    color:#666;
    padding:10px 20px;
    border-top:1px solid #e5e5e5;
    border-radius: 0 0 10px 10px;
}

/* ----- icon ------ */
.social-wall-card__icon-wrap{
    position:absolute;
    top:0;
    left:50%;
    margin-top:-16px;
    margin-left:-16px;
    width:32px;
    height:32px;
    background-color:#fff;
    border-radius:50%;
}

.icon-social-feed--twitter{
    fill:#55acee;
}

.icon-social-feed--facebook{
    fill:#3b5998;
}

.icon-social-feed--instagram{
    fill:#3f729b;
}
